@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

body {
    font-family: 'Open Sans', Arial, sans-serif;
}

/* navbar */
#navbar {
    background-color: #FFF;
}

.navbar-toggler-pablo {
    border: none;
}

/* Hero */
#hero-container {
    height: max-content;
    padding-bottom: 1em;
    background-color: #FFF;
}

#hero-container div {
    margin: 25px 0 10px 0;
}

/* Skills */
#skills-container {
    background-color: rgb(245, 245, 245);
}

#skills-container i {
    font-size: 2em;
    margin: 10px;
}

#skills-container img {
    width: 2.5em;
}

.img-icon {
    margin-bottom: 3px;
}

/* Projects */
.card-border {
    border: 2px solid #222;
    border-radius: 3px;
}